<div class="container">
  <h1>Angular HttpClient lab6</h1>
  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="namePost">
    </div>
<button class="btn" (click)="addPost()">Додати</button>
<button class="btn" (click)="loadPost()">Заваантажити</button>
</div>
<hr>
<div *ngIf="!flagLoad; else loading">
    <div class="card" *ngFor="let post of posts ">
      <p>
        <span [class.completed]="post.completed">{{post.title | titlecase}}</span>
        <span>
          <button class="btn btn-danger" (click)="removePost(post.id)">Видалити</button>
          <button class="btn" [disabled]="post.completed" (click)="completedPost(post.id)">Завершити</button>
     </span>
      </p>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  </div>
 